body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

nav {
    background-color: #3776ab;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.logo {
    width: 200px;
    height: auto;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #3776ab;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.social-links a:hover {
    background-color: #555;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #3776ab;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#backToTop:hover {
    background-color: #555;
}

#contacto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

#contacto label {
    font-weight: bold;
}

#contacto input, #contacto textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contacto button {
    padding: 10px;
    background-color: #3776ab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contacto button:hover {
    background-color: #555;
}

#statusMessage {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}
